{{ define "main" }}
    {{- range .Pages }}
    <article class="card">
        {{ if .Params.Image }}<img class="cover" src="{{ .Params.Image }}" alt="">{{ end }}
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <p>
            <span class="fas fa-fw">&#xf017;</span> {{ $.Date.Format "January 2, 2006" }} {{ if .Params.location }} - <span class="fas">&#xf0ac;</span> {{ .Params.location.city }}, {{ .Params.location.country }}{{ end }}
        </p>
        <p>{{ .Summary }}</p>
        <a class="button" href="{{ .RelPermalink }}">Read More <span class="fas">&#xf054;</span></a>
    </article>
    {{- end }}
    {{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div class="card">
        {{- if .Paginator.HasNext }}
        <a class="button" href="{{ .Page.RelPermalink }}page/{{ .Paginator.Next.PageNumber }}">
            <span class="fas">&#xf053;</span> Older
        </a>
        {{- end }}
        {{- if .Paginator.HasPrev }}
        <a class="button float-right" href="{{ .Page.RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}">
            Newer <span class="fas">&#xf054;</span></a>
        {{- end }}
    </div>
    {{- end }}
{{ end }}
