{{ define "main" }}
<article class="card">
    {{ if .Params.Image }}<img class="cover" src="{{ .Params.Image }}" alt="" width="728px" height="350px">{{ end }}
    <h1>{{ .Title }}</h1>
    <p>{{ if not .Date.IsZero }}<span class="fas fa-fw">&#xf017;</span> {{ $.Date.Format "January 2, 2006" }}{{ end }} {{ if .Params.location }} - <span class="fas">&#xf0ac;</span> {{ .Params.location.city }}, {{ .Params.location.country }}{{ end }}
    </p>

    {{ .Content }}

    {{ if .Params.categories }}
    <div class="section">
        <span class="fas">&#xf07b;</span> {{ range $i, $e := sort .Params.categories }}{{if $i}}, {{end}}<a href="{{ $.Site.BaseURL}}/categories/{{ $e | urlize }}" class="tag">{{ $e }}</a>{{ end }}
    </div>
    {{ end }}
    {{ if .Params.tags }}
    <div class="section">
        <span class="fas">&#xf02b;</span> {{ range $i, $e := sort .Params.tags }}{{if $i}}, {{end}}<a href="{{ $.Site.BaseURL}}/tags/{{ $e | urlize }}" class="tag">{{ $e }}</a>{{ end }}
    </div>
    {{ end }}

    <aside>
        <section id="share">
            <h2>Share</h2>
            <a target="_blank" href="https://www.facebook.com/sharer.php?src=bm&u={{ substr .Permalink 0 -1 }}&t={{ .Title }}"><span class="fab fa-fw">&#xf082;</span></a>
            <a target="_blank" href="https://twitter.com/intent/tweet?url={{ substr .Permalink 0 -1 }}&text={{ .Title }}"><span class="fab fa-fw">&#xf081;</span></a>
            <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ substr .Permalink 0 -1 }}"><span class="fab fa-fw">&#xf08c;</span></a>
            <a target="_blank" href="https://www.reddit.com/submit?url={{ substr .Permalink 0 -1 }}&title={{ .Title }}"><span class="fab fa-fw">&#xf1a2;</span></a>
            <a target="_blank" href="https://news.ycombinator.com/submitlink?u={{ substr .Permalink 0 -1 }}&t={{ .Title }}"><span class="fab fa-fw">&#xf3af;</span></a>
            <a target="_blank" href="https://share.flipboard.com/bookmarklet/popout?v=2&url={{ substr .Permalink 0 -1 }}&title={{ .Title }}"><span class="fab fa-fw">&#xf44d;</span></a>
            <a target="_blank" href="mailto:?subject={{ .Title }} - {{ .Site.Title }}&body={{ substr .Permalink 0 -1 }}"><span class="fas fa-fw">&#xf199;</span></a>
        </section>

        <section id="see-also">
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <h2>See Also</h2>
            <ul>
                {{ range . }}
                <li><a href="{{ substr .RelPermalink 0 -1 }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </section>

        {{ if not (isset .Params "no_comments") }}
        <section id="comments">
            {{ $resource := (replace (substr .RelPermalink 1 -1) "/" "_") }}
            <h2 id="say-something">Say something</h2>
            <form id="comment">
                <input type="hidden" id="comment-resource" value="{{ $resource }}">
                <input type="text" id="comment-name" placeholder="Your name">
                <input type="email" id="comment-email" placeholder="Your email">
                <textarea id="comment-body" rows="10" placeholder="Your message. Feel free to use Markdown."></textarea>
                <span id="comment-submit" class="button">Submit</span>
            </form>
            {{ with resources.Get "js/swlcs.js" | resources.ExecuteAsTemplate "swlcs.js" . | minify }}<script nonce="swlcs">{{ .Content | safeJS }}</script>{{ end }}
            <h2>Comments</h2>
            {{ $comments := index $.Site.Data.comments $resource }}
            {{ range $comments }}
            <div class="card">
                <strong>{{ .name }}</strong> on {{ (time .date).Format "2006-01-02 15:04:05 MST" }} said:
                <p>{{ .body | $.Site.GetPage.RenderString }}</p>
            </div>
            {{ else }}
            <p>Nothing yet.</p>
            {{ end }}
        </section>
        {{ end }}
    </aside>
</article>
{{ end }}
